* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: url(back.webp) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    padding: 0 15px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}

#loading-text {
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    position: relative;
    animation: glitch 1s infinite alternate;
}

@keyframes glitch {
    0% { text-shadow: 2px 2px red, -2px -2px blue; }
    50% { text-shadow: -2px -2px red, 2px 2px blue; }
    100% { text-shadow: 2px 2px red, -2px 2px blue; }
}

@keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.card {
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.social-links img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

footer {
    bottom: 5px;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    /* background-color: #222; */
    margin-right: 70%;
    margin-top: 27%;
}

@media (max-width: 768px) {
    header {
        font-size: 1.2rem;
        padding: 15px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
        max-width: 300px;
    }
    footer {
        font-size: 0.9rem;
    }
}