* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: url(Background-Main-default.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 0 15px;
    color: whitesmoke;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container {
    font-size: 1.5rem;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.killer {
    background: url('button_background_nav_reverse.png') no-repeat;
    background-size: cover;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

.survivant {
    background: url('button_background_nav.png') no-repeat;
    background-size: cover;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.killer:hover {
    background-color: darkred;
}

.survivant:hover {
    background-color: darkblue;
}

.retour {
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px 20px;
    background: gray;
    color: white;
}

.retour:hover {
    background-color: darkgray;
}

button {
    cursor: pointer;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
}

.home-button {
    color: red;
    list-style: none;
}

.hom-button:hover {
    color: darkred;
}

.info-container {
    text-align: center;
    margin-top: 100px;
}

.info-button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    width: 1200px;
    height: 150px;
    text-align: left ;
}

.txt {
    margin-left: 200px;
    font-size: 4rem;
    height: 10vh;
    margin: 0;
    display: inline;
}

.inf {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-top: 10px;
}

.info-content {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.3rem;
}

.linka {
    color: red;
}

@media screen and (max-width: 768px) {
    .survivant {
        width: 160px;
    }
    .killer {
        width: 160px;
    }
}