* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../../Bingo/Image/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px;
}

canvas {
    border: 5px solid #333;
    border-radius: 50%;
    background: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #3498db;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}