* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: url(back_sk.webp) no-repeat center center fixed;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-top: 20px;
}

#quizz {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 3px solid #ff0000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

#question-counter {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff0000;
}

.question {
    margin: 15px 0;
    font-size: 1.4rem;
}

label {
    display: block;
    padding: 5px;
}

button {
    background: red;
    color: whitesmoke;
    font-size: 1rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkred;
}

#result {
    background: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

#result img {
    width: 100%;
    max-width: 300px;
}

a {
    display: block;
    margin-top: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

footer {
    bottom: 5px;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    /* background-color: #222; */
    margin-right: 70%;
    margin-top: 27%;
}

footer p {
    color: whitesmoke;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.social-links img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    body {
        background-color: rgba(0, 0, 0, 0.8);
    }
    header {
        font-size: 1.2rem;
        padding: 15px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    footer {
        font-size: 0.9rem;
    }
    #quiz {
        width: 90%;
        padding: 15px;
        max-width: 900px;
    }
    #answers label {
        font-size: 14px;
        padding: 8px;
    }
    button {
        font-size: 14px;
        padding: 8px 15px;
    }
    #result-container {
        width: 90%;
        padding: 15px;
    }
}