* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: url(image/BuildGeneratorBackground.png);
    background-size: cover;
}

.killer {
    background: url('image/button_background_nav_reverse.png') no-repeat;
    background-size: cover;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

.survivant {
    background: url('image/button_background_nav.png') no-repeat;
    background-size: cover;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.killer:hover {
    background-color: darkred;
}

.survivant:hover {
    background-color: darkblue;
}