* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(back/background\ photo\ surprise\ site\ phasmo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.controls {
      margin: 20px;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin: 20px;
    }
    .gallery img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 2px solid white;
      border-radius: 8px;
    }
    button, select {
      padding: 10px;
      font-size: 16px;
      margin: 10px;
      border-radius: 5px;
      border: none;
    }
    #resetBtn {
      display: none;
      background-color: crimson;
      color: white;
    }

@media only screen and (max-width: 768px) {
    body {
        background: url(back/background\ photo\ surprise\ site\ phasmo.png);
        background-size: cover;
    }
}