* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.book-container {
    perspective: 1500px;
    position: relative;
}

.book {
    width: 800px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('img/livre.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-page {
    left: 0;
    flex-direction: column;
    text-align: center;
}

.image {
    max-width: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.perk {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.right-page {
    right: 0;
    padding: 20px;
}

.lore {
    font-size: 14px;
    color: white;
    text-align: justify;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #4b2e83;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #361f5b;
}